@import "@/styles/variables.less";

.cmp-button {
  button {
    min-width: 120px;
    height: 64px;
    border-radius: 40px;
    background-color: @button-color;
    cursor: pointer;
    transition: ease 0.3s;
    padding: 20px 30px;

    span {
      color: white;
      font-size: 20px;
    }

    svg {
      color: white;
      font-size: 24px;
      animation: spin 1s linear infinite;

      @keyframes spin {
        from {
          transform: rotate(0deg);
        }
        to {
          transform: rotate(360deg);
        }
      }
    }

    &:hover {
      background-color: @button-hover;
    }
  }
}
