.cmp-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100px;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  z-index: 1;

  svg {
    font-size: 20px;
    color: #242424;
  }

  .menu-button {
    button {
      background: none;
      cursor: pointer;
    }
  }

  .cart-button {
    display: flex;
    align-items: center;
    gap: 8px;
    cursor: pointer;
    background: none;
    position: relative;

    .items-number {
      background-color: red;
      color: white;
      width: 16px;
      height: 16px;
      border-radius: 50%;
      font-size: 12px;
      position: absolute;
      right: -8px;
      top: -10px;
    }
  }
}
