.shop-view {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 100vw;

  .view-title {
    font-size: 32px;
  }

  .add-product {
    align-self: flex-end;
    margin: 20px 0;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: ease 0.3s;

    &:hover {
      background-color: #555;
    }
  }

  .products-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 40px;
  }
}
