@import "@/styles/variables.less";

#app,
body,
* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: Inter, sans-serif;
}

.view {
  padding: 40px;

  @media (max-width: 768px) {
    padding: 20px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  color: @black-text;
}
